@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');
@import 'tailwindcss';

@theme {
    --color-dark-green-primary: #131921;

    --color-dark-green-secondary: #1e242c;
    --color-dark-green-tertiary: #e9ebed1a;

    --color-light-green-primary: #00e7e2;
    --color-light-green-secondary: #8efbf7;
    --color-light-green-tertiary: #a7fffd26;
    --color-light-green-quaternary: #defffe;

    --breakpoint-emd: 890px;
    --breakpoint-elg: 1085px;
}

@layer components {
    .ctn {
        @apply max-w-[1400px] p-4 lg:px-8 xl:px-16 2xl:px-32 mx-auto;
    }

    .h-screen-minus-header {
        @apply h-[calc(100vh-80.98px)];
    }
}

body {
    background-color: var(--color-dark-green-primary);
    font-family: "Mozilla Text" !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-dark-green-primary);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-green-tertiary);
    border-radius: 4px;
}

a {
    user-select: none;
}

button {
    cursor: pointer;
    user-select: none;
}

img {
    user-select: none;
}

.cloud-one {
    animation: cloud-animation 5s ease-in-out 0s infinite alternate;
}

.cloud-two {
    animation: cloud-animation 5s ease-in-out 2s infinite alternate;
}

@keyframes cloud-animation {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
}

.plane {
    animation: plane-animation 5s ease-in-out 0s infinite alternate;
}

@keyframes plane-animation {
    0%, 100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
}

.star-one {
    animation: star-animation 5s ease-in-out 0s infinite alternate;
}

.star-two {
    animation: star-animation 5s ease-in-out 5s infinite alternate;
}

@keyframes star-animation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}

.eyes {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: eyes-animation 5s ease-in-out infinite;
}

@keyframes eyes-animation {
    0%, 4% {
        transform: scaleY(1); 
    }

    5%, 7% {
        transform: scaleY(0);
    }

    8%, 100% {
        transform: scaleY(1);
    }
}

.linear-gradient {
    background: linear-gradient(248deg, #0d1818 8.15%, #0c2a2a 56.70%)
}

.linear-gradient-reverse {
    background: linear-gradient(101deg, #0d1818 8.15%, #0c2a2a 56.70%);
}